<div class="container">
  <div class="page-title">
      <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h5 class="title">1 day chat App</h5>
              <p id="subtitle">All messages will be deleted at every 00:00 UTC</p>
          </div>
      </div>
  </div>
  <div class="content-wrapper">
      <div class="row gutters">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card m-0">
                  <div class="row no-gutters">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3" style="padding-right: 0;">
                          <div class="users-container">
                              <div class="form-group">
                                  <label id="user-label" for="exampleFormControlSelect1">1. Choose your user</label>
                                  <select class="form-control" id="exampleFormControlSelect1" [formControl]="userId">
                                      <option *ngFor="let user of users;" [value]="user" [disabled]="shouldDisableOption(user)">{{ user }}</option>
                                  </select>
                              </div>
                              <p id="channel-label">2. Choose your Channel</p>
                              <ul class="users">
                                  <li
                                    *ngFor="let channel of channels;"
                                    [ngClass]="channelId.getRawValue() === channel.id ? 'channel active-user' : 'channel'" 
                                    (click)="selectChannel(channel)">
                                      <p class="name-time">
                                          <span class="name">{{ channel.label }}</span>
                                      </p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" style="padding-left: 0;">
                          <div class="selected-user">
                              <span id="channel-header">{{ channelLabel }}</span>
                          </div>
                          <div class="chat-container">
                              <ul class="chat-box chatContainerScroll">
                                  <li class="chat-left">
                                      <button type="button" class="btn btn-info" (click)="fetchMoreMessages(true)" [disabled]="!channelId.getRawValue()">
                                          Read More <i class="fa fa-arrow-up"></i>
                                      </button>
                                  </li>
                                  <li *ngFor="let msg of chatService.messages.getValue();" [ngClass]="msg.userId === userId.getRawValue() ? 'chat-right' : 'chat-left'">
                                    <ng-container *ngIf="msg.userId === userId.getRawValue();else leftContent">
                                        <div class="chat-hour">{{ formatMsgTime(msg.datetime) }} <span [ngClass]="msg?.messageId ? 'fa fa-check-circle' : 'fa fa-exclamation-circle'"></span> <span class="chat-message">{{ msg?.messageId ? 'Sent' : 'Error' }}</span></div>
                                        <div class="chat-text">
                                            {{ msg.text }}
                                        </div>
                                        <div class="chat-avatar">
                                            <img [src]="'https://angular-test-backend-yc4c5cvnnq-an.a.run.app/'+msg.userId+'.png'" alt="User">
                                            <div class="chat-name">{{ msg.userId }}</div>
                                        </div>
                                    </ng-container>
                                    <ng-template #leftContent>
                                        <div class="chat-avatar">
                                            <img [src]="'https://angular-test-backend-yc4c5cvnnq-an.a.run.app/'+msg.userId+'.png'" alt="User">
                                            <div class="chat-name">{{ msg.userId }}</div>
                                        </div>
                                        <div class="chat-text">
                                            {{ msg.text }}
                                        </div>
                                        <div class="chat-hour">{{ formatMsgTime(msg.datetime) }}</div>
                                    </ng-template>
                                  </li>
                                  <li class="left">
                                      <button type="button" class="btn btn-info" [disabled]="!channelId.getRawValue()" (click)="fetchMoreMessages()">
                                          Read More <i class="fa fa-arrow-down"></i>
                                      </button>
                                  </li>
                              </ul>
                              <div class="form-group mt-3 mb-0">
                                  <textarea [formControl]="text" class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                                  <button 
                                    type="button"
                                    class="btn btn-info"
                                    [disabled]="!userId.getRawValue() || !channelId.getRawValue() || !text.getRawValue()?.trim?.()"
                                    (click)="postMessage()">
                                      Send Message <i class="fa fa-send"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>