.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;

    @media (max-width: 767px) {
        .chat-container li.chat-left,
        .chat-container li.chat-right {
            flex-direction: column;
            margin-bottom: 30px;
        }
        .chat-container li img {
            width: 32px;
            height: 32px;
        }
        .chat-container li.chat-left .chat-avatar {
            margin: 0 0 5px 0;
            display: flex;
            align-items: center;
        }
        .chat-container li.chat-left .chat-hour {
            justify-content: flex-end;
        }
        .chat-container li.chat-left .chat-name {
            margin-left: 5px;
        }
        .chat-container li.chat-right .chat-avatar {
            order: -1;
            margin: 0 0 5px 0;
            align-items: center;
            display: flex;
            justify-content: right;
            flex-direction: row-reverse;
        }
        .chat-container li.chat-right .chat-hour {
            justify-content: flex-start;
            order: 2;
        }
        .chat-container li.chat-right .chat-name {
            margin-right: 5px;
        }
        .chat-container li .chat-text {
            font-size: .8rem;
        }
    }

    .chat-container {
        position: relative;
        padding: 1rem;

        img {
            width: 48px;
            height: 48px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }

        .btn-info {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

        .chat-avatar {
            margin-right: 20px;
        }

        .chat-name {
            font-size: .75rem;
            color: #999999;
            text-align: center;
        }

        .chat-text {
            padding: 0.4rem 1rem;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background: #ffffff;
            font-weight: 300;
            line-height: 150%;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 10px;
                left: -20px;
                border: 10px solid;
                border-color: transparent #ffffff transparent transparent;
            }
        }

        .chat-message {
            font-size: .75rem;
            color: #999999;
            text-align: center;
        }

        .chat-hour {
            padding: 0;
            margin-left: 10px;
            font-size: 0.80rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .fa-check-circle {
                font-size: 16px;
                color: #9ec94a;
            }

            .fa-exclamation-circle {
                font-size: 16px;
                color: #b71e3c;
            }
        }

        .chat-left {
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-bottom: 40px;
        }

        .chat-right {
            justify-content: flex-end;
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-bottom: 40px;

           .chat-text:before {
                right: -20px;
                border-color: transparent transparent transparent #ffffff;
                left: inherit;
            }

            > .chat-avatar {
                margin-left: 20px;
                margin-right: 0;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .selected-user {
        width: 100%;
        padding: 0 15px;
        min-height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #e6ecf3;
        -webkit-border-radius: 0 3px 0 0;
        -moz-border-radius: 0 3px 0 0;
        border-radius: 0 3px 0 0;
    }

    .users-container {
        position: relative;
        padding: 1rem 0;
        border-right: 1px solid #e6ecf3;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;

        .form-group {
            margin-bottom: 1rem;
        }

        @media (max-width: 767px) {
            .users .channel p.name-time {
                display: none;
            }
            .users .channel p.name-time .time {
                display: none;
            }
        }

        .users {
            padding: 0;

            .channel {
                position: relative;
                width: 100%;
                padding: 10px 1rem;
                cursor: pointer;
                border-bottom: 1px solid #f0f4f8;

                p.name-time {
                    font-weight: 600;
                    font-size: .85rem;
                    display: inline-block;
                }
                
            }

            .active-user {
                background-color: #ffffff;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
                background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
                background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
                background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
                background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
                background-image: linear-gradient(right, #f7f9fb, #ffffff);
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}